
body {
    background-image: url("../images/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#food-form {
    font-weight: bold;
    margin: 10px;
    border: 3px solid yellow;
    padding: 10px;
}

.food-title:hover {
    cursor: pointer;
}

.title-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
}

.title-link {
    color: black;
}
.food, .favor {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px 3px;
    margin-bottom: 0px;
}

#food-input {
    margin-top: 10px;

}

#add-food {
    margin-top: 8px;
}

.food-box {
    float: left;
    margin-right: 18px;
}